/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 17 avr. 2020, 16:02:51
    Author     : Herbert <herbert.caffarel@ldnr.fr>
*/
footer {
    background-color: black;
    color:antiquewhite;
    margin-top: 10px;
    border-top:1px solid antiquewhite;
}

footer a, footer a:visited {
    text-decoration: none;
    color: azure;
}

nav ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.button {
    padding:5px;
    margin: 5px;
    background-color: lightgrey;
    border: 1px solid black;
    border-radius: 5px;
}